.form-card {
  background: white;
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 15px;
}

.plant-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  align-items: center;
}

.form-row label {
  width: 150px;
}

.form-row input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.form-row select {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-family: inherit;
}
