.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424F19;
  padding: 15px 40px;
  color: white;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-section img {
  height: 40px;
}

.logo-section h2 {
  margin: 0;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  display: inline-block;        
  padding: 8px 16px;           
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 8px;           
  transition: 0.3s ease;
}

.nav-links a:hover {
  background-color: #22290c;
}