.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e7d32;
  padding: 15px 40px;
  color: white;
}


.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-section img {
  height: 40px;
}

.logo-section h2 {
  margin: 0;
}


.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-links a:hover {
  text-decoration: underline;
}