:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
.content {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}

.primary-btn {
  display: inline-block;
  padding: 10px 15px;
  background: #424F19;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
}
.primary-btn:hover {
  background: #22290c;
}

.update-btn {
  background: #1976d2;
  color: white;
}

.delete-btn {
  background: #d32f2f;
  color: white;
}